<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>About Currento</title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#485785}</style><path d="M257 8C120 8 9 119 9 256s111 248 248 248 248-111 248-248S394 8 257 8zm-49.5 374.8L81.8 257.1l125.7-125.7 35.2 35.4-24.2 24.2-11.1-11.1-77.2 77.2 77.2 77.2 26.6-26.6-53.1-52.9 24.4-24.4 77.2 77.2-75 75.2zm99-2.2l-35.2-35.2 24.1-24.4 11.1 11.1 77.2-77.2-77.2-77.2-26.5 26.5 53.1 52.9-24.4 24.4-77.2-77.2 75-75L432.2 255 306.5 380.6z"/></svg>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
            
              <li class="nav-item">
                <a class="nav-link" href="/about">about</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    <main>
        <div class="container bg-light mt-4 py-4 px-3">
            <h1 class="text-center">About Currento</h1>
            <h4 class="text-center">Welcome to Currento - Your Ultimate Currency Exchange Information Hub!</h4>
        </div>
        <div class="container bg-light mt-4 py-4 px-3">
            <strong>Currento is a cutting-edge website designed to offer you in-depth insights into currency exchange rates through intuitive charts and graphs. Our platform provides comprehensive data visualization, enabling you to analyze and track the dynamic nature of currency exchange rates effortlessly. With Currento, stay updated on the latest currency fluctuations, historical trends, and real-time exchange rate movements. Our user-friendly interface empowers you to explore and compare diverse currency pairs, aiding you in making informed decisions regarding international investments, financial planning, or travel.</strong>
            <p>Key Features of Currento:</p>
            <ul>
                <li>
                    <strong>Live Currency Charts:</strong> Access real-time and historical exchange rate charts, facilitating a clear understanding of currency performance over time.
                </li>
                <li>
                    <strong>Interactive Graphs:</strong> Dive into interactive graphs that visualize currency trends, allowing you to customize views based on specific timeframes and currencies.
                </li>
                <li>
                    <strong>Comparative Analysis:</strong> Compare multiple currencies side by side, enabling a comprehensive analysis of their relative strengths and weaknesses.
                </li>
                <li>
                    <strong>User-Friendly Experience:</strong> Enjoy a seamless and intuitive browsing experience designed to cater to both novice and experienced users.
                </li>
            </ul>
        </div>
    </main>
    <footer class="d-flex flex-wrap bg-light justify-content-between align-items-center py-3 mt-3 border-top footer">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2023 Currento, Inc</span>
      </div>
  
    </footer>
</body>
</html>